$font-family: 'Lato', Helvetica, sans-serif
$font-color-primary: dark-grey
$font-size-regular: 14px
$font-weight-light: 300
$font-weight-regular: 400

.page
  font-family: $font-family
  font-weight: $font-weight-light
  color: $font-color-primary
  line-height: 1.5
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  left: 0
  top: 0
  font-size: 100%
  position: relative
  background: #fdfdfd

.page .navbar-brand
  font-size: 2em
  color: #ccc

.nav__item
  display: inline-block
  margin: 0px 8px 0px 8px
  font-weight: $font-weight-regular
  font-size: 14px
  text-transform: uppercase

.header
  height: 450px
  background: url(https://images.unsplash.com/photo-1493500146995-7167488df174) center center
  background-size: cover
  color: white

.subheader
  align-items: center
  background: #333
  margin: 0px
  color: white
  height: 80px
  box-shadow: -1px 1px 10px #000

.subheader__title
  width: 100%
  height: 100%
  margin: 20px
  text-align: center
  text-transform: uppercase
  font-size: 32px
  font-weight: 400

.card
  width: 90%
  max-width: 500px
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.25)
  box-shadow-z-index: 2

.about, skills
  height: 550px
  max-width: 400px
  margin: 0 auto
    top: 30px
    bottom: 10px
  background: url(https://images.unsplash.com/photo-1493500146995-7167488df174) center center
  background-size: cover

.about__photo
  height: 200px
  width: 200px
  position: absolute
  left: 0
  right: 0
  top: 100px
  margin-left: auto
  margin-right: auto
  -webkit-box-align: center
  box-align: center
  -moz-align-items: center
  -ms-align-items: center
  -o-align-items: center
  align-items: center
  position: absolute

.about__photo__img
  border-radius: 50%
  background-size: cover
  height: 200px
  width: 200px
  background: #ffffff url(https://pbs.twimg.com/profile_images/842126423968079875/pvjLQTX2.jpg) bottom center
  padding: 5px

.about__header
  width: 100%
  height: 30%
  margin: 0 auto
  -moz-align-items: center
  -ms-align-items: center
  -o-align-items: center
  align-items: center

.skills__header
  width: 100%
  height: 40%
  margin: 0 auto
  -moz-align-items: center
  -ms-align-items: center
  -o-align-items: center
  align-items: center

.about__body
  height: 70%
  padding: 100px 32px 0 32px
  background: white
  font-size: 1.25em
  background: white
  margin: 0 auto

.skills__body
  height: 60%
  padding: 0 32px 0 32px
  background: white
  font-size: 1.25em
  background: white
  margin: 0 auto

.about__body__text-header
  margin: 20px 0 20px 0

.about__body__text-desc, .template__body__desc-text
  font-size: 1.1em
  font-weight: 200
  text-align: center
  padding-right: 10px
  padding-left: 10px

.projects
  width: 100%
  height: 1100px

.project
  height: 480px
  background: red
  margin: 0 auto
  background: white

.projects__header
  margin-bottom: 30px

.project__card
  height: 450px
  max-width: 400px
  margin: 0 auto
  background: url(https://images.unsplash.com/photo-1493500146995-7167488df174) center center
  background-size: cover

.project__card:nth-child(1)
  height: 450px

.project__card:nth-child(2)
  height: 450px

.project__card:nth-child(3)
  height: 450px

.project__card:nth-child(4)
  height: 450px

.tags
  margin: 0 auto
  padding: 0 10px 0 10px

.template__header
  width: 100%
  height: 50%
  margin: 0 auto
  -moz-align-items: center
  -ms-align-items: center
  -o-align-items: center
  align-items: center

.template__body
  height: 50%
  background: white
  margin: 0 auto

.contact
  height: 450px
  margin-top: 30px
  margin-bottom: 30px
  background: url(https://images.unsplash.com/photo-1493500146995-7167488df174) center center
  background-size: cover

.contact__header
  height: 220px
  width: 220px
  margin: 0 auto
  box-align: center
  -moz-align-items: center
  -ms-align-items: center
  -o-align-items: center
  align-items: center

.contact__body
  padding: 0 32px 32px 32px
  height: 50%
  background: white
  margin-bottom: 20px

.contact__body__title, .template__body__title
  font-size: 2rem
  font-weight: 400
  text-align: center

.subfooter__body__contact-header
  margin-bottom: 20px

.contact__body__social
  padding: 20px 0px 0px 0px
  width: 100%
  text-align: center

.contact__social__icon
  height: 10px
  width: 10px
  text-decoration: none
  padding: 20px
  colofr: black
  -webkit-transition: all 0.3s ease
  transition: all 0.3s ease

.contact__body__br
  width: 210px
  border-top: 2px solid black
  margin: 30px auto

.contact__body__mail
  margin: 0 auto
  &:hover
    color: white
    font-size: 1.1em
    font-weight: 400

.projects ul
  display: inline
  margin: 0 auto
  padding: 0

.projects li
  margin: 4px 4px 4px 4px
  padding: 0
  text-size: 14px
  display: inline-block

.subfooter
  align-items: center
  background: #333
  font-weight: 200
  margin: 0 auto
  color: white
  line-height: 2.75

.subfooter__body
  margin-top: 40px
  align-items: center
  align-items-font-weight: 200
  background: #333
  width: 100%
  font-size: 1.75rem
  line-height: 2.5
  text-align: center

  a
    &:hover
      color: white
      font-size: 1.1em
      font-weight: 400
      text-decoration: none

.font-white
  color: white

.contact__body__mail
  margin: 0 auto

.projects ul
  display: inline
  margin: 0 auto
  padding: 0

.projects li
  margin: 4px 4px 4px 4px
  padding: 0
  text-size: 14px
  display: inline-block

.subfooter
  align-items: center
  background: #333
  font-weight: 200
  margin: 0 auto
  color: white
  line-height: 3.75

.subfooter__body
  margin-top: 40px
  align-items: center
  font-weight: 200
  background: #333
  width: 100%
  font-size: 2rem
  line-height: 2.5
  text-align: center

.font-white
  color: white

.template__body__desc-text
  padding: 10px 20px 10px 20px

.skills ul
  list-style-type: none
  padding: 0

.skills__list__item
  font-size: 1.2em
  font-weight: 200
  text-align: center
  padding-top: 10px
  padding-right: 10px
  padding-left: 10px

.skills__body__text-header
  padding-top: 20px
  margin: 0 auto

@media(max-width: 500px)
  .header
    height: 300px

  .subheader
    height: 100px

  .template__header
    width: 100%
    height: 50%

  .template__body
    height: 50%
    background: white
    margin: 0 auto

@media(max-width: 360px)
  .template__header
    width: 100%
    height: 45%

  .template__body
    height: 55%
    background: white
    margin: 0 auto
    